<div align='center'><%= image_tag @photo.image.url(:thumb)%><br>
<%= @photo.caption %><br>
<% @photo.hashtags.each do |tag| %>
	<%=link_to tag.text, hashtag_path(tag)%>
<%end%>

<%= button_to 'Edit', edit_photo_path(@photo), :method => :get %><br>
<%= button_to "Delete", @photo, :method => :delete, data: {confirm: "Are you sure bru?"} %><br>
</div>